<!DOCTYPE html>
<html lang = "en">
   <head>Ejemplo ORM en Python</head>   
   <body>
     <br><br><br>
	 <a href = "{{ url_for('new') }}"> Nuevo Usuario </a>
	 <br><br>
	 <a href = "{{ url_for('listar_usuarios') }}"> Listar Usuarios </a>
	 <br><br>
	 <a href = "{{ url_for('nuevo_post') }}"> Realizar Comentario </a>
	 <br><br>
	 <a href = "{{ url_for('listar_post') }}"> Listar Todos los Comentarios </a>
	 <br><br>
	 <a href = "{{ url_for('listar_post_user') }}"> Listar Comentarios </a>
   </body>
</html>